body {
    background-color: yellow;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; 
}
h1 {
    background-color:  pink;
    margin: 0px;
}
.logo {
    width: 50px;
    height: 50px;
}
.head {
    display: flex;
    align-items: center;
}
.game {
    max-width: 100%;
}